
body{
    text-align: center;
}

input{
    border: groove 1px gray;
    height: 20px;
    width: 200px;
}

.profile_img > img{
    width: 100px;
    height: 100px;
}

table{
    width: 100%;
}

tr > td{
    text-align: left;
    padding-left: 10px;
}
